@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/assets/img/UPAcademyLogo.png" alt="UpAcademy" class="w-100">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Date</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
